h1
{
    font-size:3.5em;
    font-family:'Bungee Tint', sans-serif;
}

p
{
    font-size : 1.1em;
    font-family :'Marck Script', cursive;
}

ul
{
    font-size : 1.6em;
    font-family :'Marck Script', cursive;
}